<script>
    function test() {
        $(event.currentTarget).closest('.test').find('.myform').submit();
    }
</script>

<div class ="test">
    <p>Job Type: {{type}}, Date: {{date}}</p>
    <p>Client: {{username}}</p>
    <form class="myform" method="GET" action="/hviewpending">
        <input type="hidden" name="reqid" value= "{{_id}}">
        <button onclick="test()">View Request</a>
    </form>
</div>