<div class="thread-container">
    <h2 class="messages-thread-text">Messages Thread</h2>
    <div class="thread">
    {{#each messages}}
        <div class="thread-message">
            <p>{{username}}:</p>
            <p>{{content}}</p>
            <p>sent {{sentdate}}</p>
        </div>
    {{/each}}
    </div>

    <form action="/sendmessage" method="POST">
        <input type="hidden" name="reqid" value="{{_id}}">
        <div class="message-input">
            <textarea name="content" placeholder="Write your message here..."></textarea>
            <button class="global-button" type="submit">SEND</button>
        </div>
    </form>
</div>