<div>
    <h2>Messages Thread</h2>
    {{#each messages}}
        {{>message}}
	{{/each}}

    <form action="/sendmessage" method="POST">
        <input type="hidden" name="reqid" value="{{reqid}}">
        <textarea name="content" placeholder="Write your message here..."></textarea>
        <button type="submit">SEND</button>
    </form>
</div>