<!DOCTYPE html>

<html>

	<head>
		<title>AutoWorks</title>
	</head>

	<body>
		<a href = "/login">login</ahref>
		<a href = "/register">register</ahref>
		<a href = "/test">test</ahref>
	</body>

</html>