<!DOCTYPE html>

<html>

	<head>
		<title>pixDEV</title>
	</head>

	<body>
		<form action = "/test" method = "POST">
			<input type="text" name="name">
			<input type="text" name="pass">
			<button type = "submit">test</button>
		</form>
	</body>

</html>