<!DOCTYPE html>
<html>
	<head>
		<title>AutoWorks</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="CSS/global.css">
		<link rel="stylesheet" href="CSS/offSession.css">
	</head>
	<body>
		<img class="logo-off-session" src="IMAGES/AutoWork.png" alt="logo">

		<p class="error-msg">{{error_msg}}</p>

		<div class="login-info">
			<p>LOGIN</p>
			<form action = "/loginpost" method = "POST">
				<input type="text" name="name" placeholder="USERNAME"><br>
				<input type="password" name="pass" placeholder="PASSWORD"><br>
				<button type = "submit" class="global-button">LOGIN</button>
			</form>

			<hr class="short-hr">

			<a href = "/register" class="global-button">CREATE NEW ACCOUNT</a>
		</div>
		

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
        <script src="JS/script.js"></script>
    </body>
</html>