<!DOCTYPE html>
<html>
	<head>
		<title>AutoWorks</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="CSS/global.css">
		<link rel="stylesheet" href="CSS/offSession.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
	</head>

	<script>
		function secQuestion() {
			console.log($(event.currentTarget).closest('body').find('.security').submit());
		}
		function OTP() {
			console.log($(event.currentTarget).closest('body').find('.OTP').submit());;
		}
	</script>

	<body>
		<div class="container off-session-container">
			<form action="/" method="POST" class="off-session-form">
				<img src="IMAGES/AutoWork.png" alt="logo">
				<p class="error-msg">{{error_msg}}</p>
				<a href="/login" class="off-session-back">< BACK</a><br><br>
				<p class="off-session-title">Recover Password</p><br>
				{{#if passed}}
					Account Username: {{username}}<br>
					Your password is <b>{{password}}</b>
				{{else}}
					<b>Password recovery failed.</b> At least one of the security question's answer is wrong.
				{{/if}}
				<br><br>
				<div>
					<a href='/'><button type="button" class="global-button" id="login-btn">Return to Login</button></a>
				</div>
			</form>
		</div>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
        <script src="JS/script.js"></script>
    </body>
</html>