/* Home pages */
#home-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

#home-container p, #home-container a {
    font-weight: bold;
    font-size: 16px;
}

#home-container img {
    height: 100px;
    margin: 50px 0 40px;
}

#home-container a {
    margin-top: 30px;
    padding: 10px 20px;
}
/* End of home pages */



/* Request as host on view pending requests */
.pending-host-card {
    text-align: center;
}

.pending-host-card #title {
    text-transform: uppercase;
    font-weight: bold;
}

.pending-host-card form {
    margin-top: 10px;
}
/* End of Request as host on view pending requests */



/* View request and message thread */
.view-request-container {
    display: flex;
    gap: 20px;
    width: min(100%, 1000px);
}

.request-info, .thread-container {
    border-radius: 5px;
    padding: 10px;
    max-height: 500px;
    background-color: #DFE3E8;
}

.request-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
}

.request-info .request-info-top {
    overflow-y: scroll;
    overflow-x: hidden;
}

#request-title-date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.request-info-top #title {
    text-transform: uppercase;
    font-weight: bold;
}

.request-info-btn {
    margin-top: 10px;
    text-align: right;
}

.request-info-btn button {
    padding-right: 20px;
    padding-left: 20px;
}

.request-images {
    margin-top: 15px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.request-images div, .thread-message div {
    max-width: 180px;
    height: 180px;
    overflow: hidden;
    border-radius: 10px;
}

.request-images div img, .thread-message img {
    height: 180px;
    cursor: zoom-in;
}

.quotation-input input {
    height: 30px;
    width: 200px;
    margin-right: 5px;
    background-color: white;
}

/* Fullpage view of images */
#fullpage {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.7);
}

#fullpage div {
    text-align: right;
    margin-top: 20px;
    margin-right: 20px;
}

#fullpage img {
    margin-left: 15px;
    height: 35px;
    cursor: pointer;
}

@media only screen and (max-width: 750px) {
    #fullpage img {
        height: 20px;
    }
}

/* Messages */
.messages-thread-text {
    text-align: center;
    margin-bottom: 10px;
}

.thread-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.thread {
    height: 400px;
    overflow-y: auto;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.thread-message {
    margin-bottom: 6px;
    padding: 5px;
    max-width: 260px;
}

.thread-message-you {
    background-color: white;
    border-radius: 10px 10px 0 10px;
    margin-right: 0;
    margin-left: auto;
    align-self: flex-end;
}

.thread-message-them {
    background-color: white;
    border-radius: 10px 10px 10px 0;
}

.thread-message .sender {
    font-size: 12px;
    font-weight: bold;
}

.thread-message .content {
    font-size: 14px;
}

.message-date {
    font-size: 12px;
    text-align: right;
}

.download-btn:hover {
    text-decoration: none;
}

.message-input {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    height: 32px;
}

.message-input textarea {
    padding: 5px;
    resize: none;
    width: 100%;
    border-radius: 10px;
}

.message-input img {
    height: 34px;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.message-input input {
    display: none;
}

@media only screen and (max-width: 750px) {
    .view-request-container {
        flex-direction: column;
    }

    .request-info, .thread-container {
        width: 100%;
    }

    .quotation-input {
        margin-top: 10px;
        position: static;
    }
}
/* End of View request and message thread */



/* Active requests as host (where you can add paid balances) */
.active-host-card {
    width: min(700px, 100%);
}

.active-host-card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.active-host-card .title, .active-host-card .top-details {
    text-align: center;
}

.active-host-card .title {
    color: #651400;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.active-host-info {
    margin-top: 10px;
}

.active-host-card-bottom form {
    margin-top: 10px;
}

.active-host-info div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.active-host-card .add-field {
    height: 30px;
    width: 150px;
    background-color: white;
}

.edit-balance {
    margin-top: 12px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.edit-outstanding {
    text-align: right;
}

.edit-outstanding input {
    background-color: white;
}

@media only screen and (max-width: 535px) {
    .active-host-card-bottom {
        flex-direction: column;
        align-items: center;
    }

    .active-host-card-bottom form {
        width: 100%;
    }

    .active-host-card-bottom form div {
        display: flex;
        gap: 8px;
    }

    .add-field {
        flex-grow: 1;
    }

    .edit-balance-button, .settle, .settle button, .edit-outstanding, .edit-outstanding input {
        width: 100%;
    }

    body .edit-outstanding input {
        width: 100%;
        display: block;
        margin-bottom: 8px;
    }
}
/* End of Active requests as host */



/* Request as client on view pending requests */
.request-user {
    text-align: center;
}

.request-user .title {
    font-weight: bold;
    text-transform: uppercase;
}

.request-user a {
    display: inline-block;
    margin: 5px 5px 5px;
}

.request-user a, .request-user button {
    padding-left: 20px;
    padding-right: 20px;
}
/* End of Request as client on view pending requests */



/* Ongoing requests as client */
.active-user {
    text-align: center;
}

.active-user .title {
    font-weight: bold;
    color: #651400;
    text-transform: uppercase;
}

.active-user-details {
    margin-top: 10px;
}

.active-user-details div {
    display: flex;
    justify-content: space-between;
}
/* End of Ongoing requests as client */



/* Create/edit request */
.create-edit-req {
    width: min(500px, 100%);
}

.create-edit-req input[type='text'], .create-edit-req select {
    width: min(280px, 100%);
    margin-bottom: 10px;
}

.create-edit-req textarea {
    resize: none;
    width: 100%;
    background-color: #DFE3E8;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.create-edit-btn {
    text-align: right;
    margin-top: 10px;
}

.create-edit-btn button {
    padding-left: 20px;
    padding-right: 20px;
}


.create-edit-req input[type='file'] {
    height: auto;
    padding: 10px;

}

#more-photos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

#more-photos div {
    display: flex;
    gap: 20px;
    align-items: center;
}

.delete-image {
    height: 10px;
    cursor: pointer;
}

.uploaded-image {
    height: 140px;
    border-radius: 10px;
}
/* End of Create/edit request */



/* For Supplier page */
#supplier-form {
    text-align: center;
    margin-bottom: 30px;
}

#supplier-form #select {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

#supplier-form select{
    width: 230px;
}

#supplier-form button {
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#supplier-list-title, #contact-title {
    color: #651400;
    font-weight: bold;
    margin: 15px 0;
}

#supplier-number {
    cursor: pointer;
}

#supplier-number:hover {
    text-decoration: underline;
}

#supplier-list {
    display: none;
    margin-bottom: 30px;
}

.supplier-option {
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

.supplier-option:not(:last-child) {
    margin-bottom: 5px;
}

.supplier-option img {
    height: 10px;
}

#supplier-list-title, #contact-title, .supplier-details {
    display: none;
}

.supplier-details {
    border-radius: 5px;
    padding: 10px 40px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.exotic-supplier {
    background-color: yellow !important;
}
/* End of Supplier page */



/* For report pages */
.report-title {
    color: #651400;
    font-weight: bold;
    font-size: 18px;
}

.report-card {
    margin-top: 10px;
}

.report-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.report-form input {
    width: 300px;
}

.report-form p {
    text-align: left;
    font-weight: bold;
}
/* End of Generate report page */



/* Contact page */
#contact-container {
    text-align: center;
}

#contact-name-num {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;

    padding: 20px 30px;
    background-color: #DFE3E8;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
}

#contact-vist {
    font-size: 14px;
    margin-bottom: 5px;
}

#contact-add {
    font-size: 22px;
    font-weight: bold;
}

#map-hours {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

#map {
    padding-right: 30px;
    border-right: 4px solid #651400;
}

#map iframe {
    width: 500px;
    height: 375px;
}

#hours p {
    font-size: 22px;
    margin-top: 20px;
}

#hours p:not(:last-child) {
    margin-bottom: 10px;
}

.contact-maroon-bold {
    color: #651400;
    font-weight: bold;
}

@media only screen and (max-width: 900px) {
    #map-hours {
        flex-direction: column;
        align-items: center;
    }

    #map {
        border-width: 0;
        padding-right: 0;
    }

    #map, #map iframe {
        width: min(500px, 100%);
    }

    #contact-add {
        font-size: 18px;
    }

    #hours p {
        margin-top: 0;
    }
}
/* End of contact page */



/* Notification pages */
.notif-container {
    text-align: center;
}

.notif-container .title {
    font-weight: bold;
    color: #651400;
    font-size: 25px;
    margin-bottom: 10px;
}

.notif button {
    margin-top: 10px;
}
/* ENd of notification pages */



/* Add New Job page */
.newjob-form {
    margin-top: 40px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newjob-form .row {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 8px;
    width: 100%;
}

.newjob-form .finished {
    margin-bottom: 8px;
}


.newjob-form #submit {
    text-align: right;
}

.newjob-form p {
    color: #651400;
    font-weight: bold;
    margin: 10px 0 20px 0;
    font-size: 18px;
}

.newjob-form input:not([type=checkbox]), .newjob-form select {
    background-color: white;
    width: 250px;
}

.newjob-form .finished {
    align-self: flex-start;
    margin-left: 10px;
}

.newjob-form #submit {
    align-self: flex-end;
}

@media only screen and (max-width: 580px) {
    .newjob-form input:not([type=checkbox]), .newjob-form select {
        width: 100%;
    }
}
/* End of New Job page */