/* General styles */
* {
    font-family: 'Open Sans', sans-serif;
    color: black;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

p, .download-btn {
    word-wrap: break-word;
}

select {
    height: 30px;
}

.global-button {
    border-radius: 10px;
    padding: 5px 10px;
    background-color: maroon;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.gray-button {
    background-color: #9F9F9F;
    color: black;
}

.white-button {
    background-color: white;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 15px;
}

.logo-off-session {
    display: block;
    margin: 0 auto;
    height: 150px;
}
/* End of General styles */



/* For On-session Header */
.show-nav {
    display: flex;
}

nav, nav div {
    display: flex;
}

nav {
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#menu-icon, #close-icon {
    height: 26px;
    cursor: pointer;
}

#menu-icon {
    margin-right: 30px;
}

#close-icon {
    align-self: flex-end;
}

@media only screen and (min-width: 1001px) {
    nav div {
        display: flex;
        gap: 20px;
        text-align: center;
        margin-right: 40px;
    }
    
    nav div > *:not(:last-child) {
        border-right: 2px solid #651400;
        padding-right: 20px;
    }
    
    #logo {
        height: 150px;
    }
    
    #menu-icon, #close-icon {
        display: none;
    }
}


@media only screen and (max-width: 1000px) {
    nav {
        position: relative;
    }

    nav div {
        flex-direction: column;
        display: none; /*CHANGE BACK TO none WHEN DONE STYLING*/
        align-items: flex-start;
        gap: 30px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1000;

        background-color: white;
        border-left: 1px solid black;
        margin-right: 0;
        padding: 20px;
        height: 100vh;
        width: min(80%, 350px);
    }

    nav div * {
        font-weight: bold;
    }

    #logo {
        height: 100px;
    }
    
    #menu-icon, #close-icon {
        display: inline-block;
    }

    #close-icon {
        margin-top: 20px;
        margin-bottom: 35px;
    }
}
/* End of On-session Header */



/* Footer */
footer {
    background-color: #9F9F9F;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    padding-bottom: 15px;
    width: 100vw;
    margin-top: 30px;
}

footer p {
    font-size: 10px;
}

#footer-est img {
    height: 70px;
}

#footer-est {
    text-align: center;
}

.footer-title {
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 20px;
}

@media only screen and (max-width: 650px) {
    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    footer p {
        font-size: 8px;
    }

    #footer-est {
        order: -1;
    }
}
/* End of Footer */



/* Title bars and navigation buttons */
.title {
    font-size: 22px;
    margin: 30px auto;
    text-align: center;
}

.nav-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: min(350px, 100%);
    margin: 20px auto;
}

.title, .nav-button-container a {
    background-color: #DFE3E8;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
}

.nav-button-container a {
    /* display: block; */
    margin-bottom: 7px;
    text-align: center;
}
/* End of Title bars and navigation buttons */



/* For flash error messages */
.error-msg {
    color: #BF0000;
    margin-bottom: 10px;
}
/* End of flash error messages */