/* General styles */
* {
    font-family: 'Open Sans', sans-serif;
    color: black;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    word-wrap: break-word;
}

select {
    height: 30px;
}

.global-button {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: white;
    cursor: pointer;
    font-size: 14px;
    /* margin: 10px 0; */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.logo-off-session {
    display: block;
    margin: 0 auto;
    height: 150px;
}
/* End of General styles */



/* For On-session Header */
.on-session-header {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.logo {
    height: 150px;
    grid-column-start: 2;
}

.user-info {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
}

.user-info a {
    margin-right: 20px;
    font-size: 10px;
}

.long-hr {
    border: 2px solid black;
    margin: 0 20px;
}

@media only screen and (max-width: 800px) {
    .on-session-header {
        grid-template-columns: 1fr;
    }

    .logo {
        height: 120px;
        grid-column-start: 1;
    }

    .user-info {
        width: 100vw;
        margin: 0 0 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }

    .user-info p {
        display: inline;
    }

    .user-info div {
        grid-column-start: 2;
    }

    .user-info a {
        margin-left: auto;
    }
}
/* End of On-session Header */



/* Title bars and navigation buttons */
.title {
    font-size: 22px;
    margin: 30px auto;
    text-align: center;
}

.nav-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: min(350px, 100%);
    margin: 20px auto;
}

.title, .nav-button-container a {
    background-color: #DFE3E8;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
}

.nav-button-container a {
    /* display: block; */
    margin-bottom: 7px;
    text-align: center;
}
/* End of Title bars and navigation buttons */



/* For flash error messages */
.error-msg {
    color: #BF0000;
    margin-bottom: 10px;
}
/* End of flash error messages */