/* For styling login, signup, and forgot password pages */

.off-session-container {
    justify-content: center;
}

.off-session-form {
    padding: 0 20px 30px;
    border-radius: 15px;
    margin-bottom: 100px;
    background-color: white;
}

.off-session-form #logo {
    height: 100px;
    margin: 40px 25px 30px;
    text-align: center;
}

.off-session-back {
    color: #651400;
    font-weight: bold;
    font-size: 12px;
}

.off-session-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
}

.off-session-form input:not(.avoid) {
    width: 100%;
    margin-bottom: 10px;
}

.off-session-form div:not(.avoid) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.off-session-form div a, .off-session-form div button {
    padding: 8px 20px;
}

#choose-text {
    margin-bottom: 20px;
}

#recovery-options {
    align-items: center;
    gap: 10px;
}

#recovery-options button {
    width: 200px;
}

#login-btn {
    margin-bottom: 5px;
}

#forgot-pass-btn {
    color: #DB2E03;
    text-decoration: underline;
}

#forgot-pass-btn:hover {
    text-decoration: none;
}

#password-container {
    position: relative;
}

#password-container img {
    position: absolute;
    height: 20px;
    top: 5px;
    right: 5px;
}