<form action="/ueditrequest" method="post" id="resend-editreq">
    <input type="hidden" name="reqid" value="{{reqid}}">
</form>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
<script>
    $('#resend-editreq').submit();
</script>