{{> wrapper_header page_title='ACTIVE JOBS'}}

<div class="container">
	<br> <a href="/viewaddnewjob" class="global-button">ADD NEW JOB</a> <br>
	{{#if req}}
	{{#each req}}
		{{>activeashost}}
	{{/each}}

	{{else}}
	<p class="default-text">No active jobs at the moment.</p>
	{{/if}}
</div>

{{> wrapper_footer}}