{{> wrapper_header page_title='ACTIVE JOBS'}}

<div class="container">
	{{#if req}}
	{{#each req}}
		{{>activeashost}}
	{{/each}}

	{{else}}
	<p>No active jobs at the moment.</p>
	{{/if}}
</div>

{{> wrapper_footer}}