<!DOCTYPE html>

<html>

	<head>
		<title>AutoWorks</title>
	</head>

	<body>
		You're a host! <br><br>

		<a href = "/viewpending">Customer Estimation Requests</ahref> <br><br>
		{{!-- <a href = "/settletrans">Settle Transactions</ahref> <br><br> --}}
		{{!-- <a href = "/viewtrans">View Transaction Reports</ahref> <br><br> --}}
		<a href = "/viewactive">Active Jobs</ahref> <br><br>
		<a href = "/viewgeneratereport">Generate Report</ahref> <br><br>
		<a href = "/viewsuppliers">View Suppliers' Contacts</ahref> <br><br>
		<a href = "/logout">Log Out</ahref>

	</body>

</html>