{{> wrapper_header}}

<div class="nav-button-container container">
    <a href = "/hviewallpending">Customer Estimation Requests</ahref>
    <a href = "/hviewactive">Active Jobs</ahref>
    <a href = "/viewgeneratereport">Generate Report</ahref>
    <a href = "/viewsuppliers">View Suppliers' Contacts</ahref>
    <a href = "/hviewnotifications">Notifications {{#if notifcount}} ({{notifcount}}) {{/if}}</ahref>
</div>

{{> wrapper_footer}}