{{> wrapper_header background-full=1}}

<div class="background"></div>

<div class="container" id="home-container">
    <img src="IMAGES/AutoWork.png" alt="logo">
    <p>TODAY IS: {{date}}</p>
    <p>PENDING FOR ESTIMATION: {{num_pending}}</p>
    <p>ACTIVE JOBS: {{num_active}}</p>
</div>

{{> wrapper_footer showFooter=1}}