<!DOCTYPE html>

<html>

	<head>
		<title>AutoWorks</title>
	</head>

	<body>
		You're a host! <br><br>

		<a href = "/viewpending">View Pending Requests</ahref> <br><br>
		<a href = "/settletrans">Settle Transactions</ahref> <br><br>
		<a href = "/viewtrans">View Transaction Reports</ahref> <br><br>
		<a href = "/viewsuppliers">View Supplier Contacts</ahref> <br><br>
		<a href = "/logout">Log Out</ahref>

	</body>

</html>