{{> wrapper_header page_title='NOTIFICATIONS'}}

<div class="container notif-container">
	<p class="title">Unread</p>
	{{#if read}}
	{{#each read}}
		{{>notifashost}}
	{{/each}}
	{{else}}
	<p>No unread notifications.</p>
	{{/if}}

	<br><br>

	<p class="title">Read</p>
	{{#if unread}}
	{{#each unread}}
		{{>notifashost}}
	{{/each}}
	{{else}}
	<p>Your read notifications are shown here.</p>
	{{/if}}
</div>

{{> wrapper_footer}}