{{> wrapper_header}}

<div class="container">
	<h1 class="title">Customer Estimation Requests</h1>
	<div class="list">
		{{#each req}}
			{{>requestsashost}}
		{{/each}}
	</div>
	
</div>

{{> wrapper_footer}}