{{> wrapper_header page_title='CUSTOMER ESTIMATION REQUESTS'}}

<div class="container">
	{{#if req}}
	{{#each req}}
		{{>requestsashost}}
	{{/each}}

	{{else}}
	<p>No customer requests at the moment.</p>
	{{/if}}
</div>

{{> wrapper_footer}}