{{> wrapper_header page_title='GENERATE REPORT'}}

<form action="/generatereport" class="container report-form">
    <input type="month" name="date" max={{date}} value={{date}} required>
    <button type="submit" class="global-button">Enter</button>
</form>

{{> wrapper_footer}}