{{> wrapper_header}}

<form action="/generatereport" class="container report-form">
    <h1 class="title">Generate Report</h1>
    <input type="month" name="date" max={{date}} value={{date}} required>
    <button type="submit" class="global-button">Enter</button>
</form>

{{> wrapper_footer}}