{{> wrapper_header page_title='GENERATE REPORT'}}

<form action="/generatereport" class="container report-form">
    From: <input type="month" name="start" value={{date}} required>
    Until: <input type="month" name="end" max={{date}} value={{date}} required>
    <button type="submit" class="global-button">Enter</button>
</form>

{{> wrapper_footer}}