{{> wrapper_header}}

<h1>Generate Report</h1>

<form action="/generatereport">
    <select name="year">
        <option value="" hidden selected>Year...</option>
        <option value=""></option>
    </select>
    <select name="month">
        <option value="" hidden selected>Month...</option>
    </select>
    <button type="submit">Enter</button>
</form>

<a href = "/logout">Logout</ahref>

{{> wrapper_footer}}