{{> wrapper_header}}

<h1 class="title">Generate Report</h1>

<form action="/generatereport" class="container">
    <input type="month" name="date">
    <button type="submit" class="global-button">Enter</button>
</form>

{{> wrapper_footer}}