{{> wrapper_header}}

<h1>Generate Report</h1>

<form action="/generatereport">
    <input type="month" name="date">
    <button type="submit">Enter</button>
</form>

<a href = "/logout">Logout</ahref>

{{> wrapper_footer}}