<!DOCTYPE html>

<html>

	<head>
		<title>AutoWorks</title>
	</head>

	<body>
		Total: {{total}} PHP	<br><br>
		{{#each req}}
			{{>settledhost}}
		{{/each}}
		<a href = "/logout">Logout</ahref>

	</body>

</html>