{{> wrapper_header}}

<div class="container">
	<h1 class="title">View Suppliers' Contact</h1>
	<form id="supplier-form" action="/viewsupplier" method="GET">
		<select name="supply-type" id="select-supply-type" required>
			<option value="" selected hidden>Select supply type...</option>
			<option value="glass">Glass</option>
			<option value="parts">Spare Parts</option>
			<option value="paint">Paint</option>
		</select> <br>

		<select name="supplier" id="select-supplier" disabled required>
			<option value="" selected hidden>Pick supplier...</option>
		</select> <br>

		<input type="hidden" name="sname" id="sname">
		<input type="hidden" name="snumber" id="snumber">
		<input type="hidden" name="saddress" id="saddress">

		<button type="submit" class="global-button">Enter</button>
	</form>

	{{#if name}}
	<p>CONTACT DETAILS</p>
	<div id="supplier-details">
		<p>{{name}}</p>
		<p id="supplier-number">{{number}}</p>
		<p>{{address}}</p>

		<button id="copy-number" class="global-button">Copy Number to Clipboard</button>
	</div>
	{{/if}}
</div>


{{> wrapper_footer}}