<!DOCTYPE html>

<html>

	<head>
		<title>AutoWorks</title>
	</head>

	{{!-- Temporarily here for now--}}
	<style>
		table, th, td {
			border: 1px solid;
		}
		.exotic {

		}
	</style>

	<body>

		<h2>Supplier Contacts</h2>
		<table> 
			<tr>
				<th>Type</th>
				<th>Common/Exoctic</th>
				<th>Name</th>
				<th>Manufacturer</th>
				<th>Contact Details</th>
			</tr>
			<tr>
				<td>Glass</td>
				<td>Common</td>
				<td>Some Glass Manufacturer Co.</td>
				<td>Vios</td>
				<td>
					<ul>
						<li><a href="#" class="contact-num">+639123456789</a></li>
						<li><a href="https://www.google.com/" target="_blank">Some Glass Manufacturer Co. on Facebook</a></li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>Spare Parts</td>
				<td>Exotic</td>
				<td>Lambo Thingz Inc.</td>
				<td>Lambo</td>
				<td>
					<ul>
						<li><a href="#" class="contact-num">+639010101010</a></li>
						<li><a href="https://www.google.com/" target="_blank">Lambo Thingz Inc on Facebook</a></li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>Paint</td>
				<td></td>
				<td>Paint Supplier Co.</td>
				<td></td>
				<td>
					<ul>
						<li><a href="#" class="contact-num">+639987654321</a></li>
						<li><a href="https://www.google.com/" target="_blank">Paint Supplier Co. on Facebook</a></li>
					</ul>
				</td>
			</tr>
		</table> <br>

		<a href = "/logout">Logout</ahref>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js" type="text/javascript"></script>
		<script src="JS/script.js"></script>

	</body>

</html>