{{> wrapper_header page_title='VIEW SUPPLIERS\' CONTACT'}}

<div class="container">
	<form id="supplier-form" action="/viewsupplier" method="GET">
		<div id="select">
			<select name="supply-type" id="select-supply-type" required>
				<option value="" selected hidden>Supply type...</option>
				<option value="glass">Glass</option>
				<option value="parts">Spare Parts</option>
				<option value="paint">Paint</option>
			</select>
		</div>

		<div><button class="global-button disabled-button global-button-disabled">FIND SUPPLIER</button></div>
	</form>

	<p id="supplier-list-title">SUPPLIERS</p>
	<div id="supplier-list" class="card"></div>

	<p id="contact-title">CONTACT DETAILS</p>
	<div class="supplier-details card">
		<p id="supplier-name"><strong></strong></p>
		<p id="supplier-number"><strong><i></i></strong></p>
		<p id="supplier-address"></p>
	</div>
</div>


{{> wrapper_footer}}