{{> wrapper_header page_title='VIEW SUPPLIERS\' CONTACT'}}

<div class="container">
	{{#if name}}
	<p id="contact-title">CONTACT DETAILS</p>
	<div class="supplier-details card">
		<p><strong>{{name}}</strong></p>
		<p id="supplier-number"><strong><i>{{number}}</i></strong></p>
		<p>{{address}}</p>
	</div>
	{{/if}}

	<form id="supplier-form" action="/viewsupplier" method="GET">
		<div id="select">
			<select name="supply-type" id="select-supply-type" required>
				<option value="" selected hidden>Supply type...</option>
				<option value="glass">Glass</option>
				<option value="parts">Spare Parts</option>
				<option value="paint">Paint</option>
			</select>

			<select name="supplier" id="select-supplier" disabled required>
				<option value="" selected hidden>Supplier...</option>
			</select>
		</div>

		<input type="hidden" name="sname" id="sname">
		<input type="hidden" name="snumber" id="snumber">
		<input type="hidden" name="saddress" id="saddress">

		<div id="enter"><button type="submit" class="global-button">FIND SUPPLIER</button></div>
	</form>
</div>


{{> wrapper_footer}}