{{> wrapper_header}}

<h1 class="title">Generated Report | {{date}}</h1>
<div class="container">    
    <p>Number of Transactions: {{num}}</p><br>
    <p>Total Outstanding: {{total}}</p>
    <p>(Revenue from Settled Transactions)</p><br>
    <p>Total Amount Paid by Clients: {{total2}}</p>
</div>

{{> wrapper_footer}}