{{> wrapper_header}}

<h1 class="title">Generated Report | {{date}}</h1>
<div class="container">    
    <p>Number of Transactions: {{num}}</p>
    <p>Revenue: {{total}}</p>
    <p>Total Outstanding: {{total2}}</p>
</div>

{{> wrapper_footer}}