{{> wrapper_header}}

<h1>Report</h1>

Number of Transactions: {{num}} <br><br>
Total Revenue: {{total}} <br><br>
Total Outstanding: {{total2}} <br><br>
<a href = "/logout">Logout</ahref>

{{> wrapper_footer}}