{{> wrapper_header page_title='GENERATE REPORT'}}

<div class="container">
    <div class="report">
        <p>Revenue: ₱{{revenue}}</p>
        <p>Total Price of Transactions: ₱{{total}}</p>
        <p>Outstanding Balance Remaining: ₱{{outstanding}}</p>
        <p>Settled Transactions: {{settled}}</p>
    </div>
</div>

{{> wrapper_footer}}