{{> wrapper_header}}

<form action = "/submitreq" method = "POST" enctype="multipart/form-data">
	<input type="text" name="rcar" placeholder="Car Model/manufacturer" required> <br><br>
	<select name="rtype" required>
		<option value="" selected hidden>Select job type...</option>
		<option value="paint">Paint</option>
		<option value="wheels">Wheels</option>
		<option value="rim">Rim</option>
		<option value="hood">Hood</option>
		<option value="engine">Engine</option>
	</select> <br><br>
	<input type="text" name="rdesc" size="50" style="height:50px" placeholder="Description..." required><br><br>
	<input type="file" name="image" required><br><br>
	<button type = "submit">SUBMIT</button>
</form>

<a href = "/logout">Logout</ahref>

{{> wrapper_footer}}