{{> wrapper_header page_title='CREATE ESTIMATION REQUEST'}}

<div class="container">
	<form class="create-edit-req " action = "/submitreq" method = "POST" enctype="multipart/form-data">
		<p class="error-msg">{{error_msg}}</p>
		<div>
			<input type="text" name="rcar" placeholder="Car Model/manufacturer" required> <br>
			<select name="rtype" required>
				<option value="" selected hidden>Select job type...</option>
				<option value="Paint">Paint</option>
				<option value="Wheels">Wheels</option>
				<option value="Rim">Rim</option>
				<option value="Hood">Hood</option>
				<option value="Engine">Engine</option>
			</select> <br>
			<textarea name="rdesc" rows="10" placeholder="Optional description..."></textarea> <br>

			<p><small>Add Photos:</small></p>
			<div id="more-photos">
				<div><input type="file" name="images" accept="image/*" required></div>
			</div>
			
			<button type="button" class="global-button" id="phadder">ADD PHOTO</button>
			<div class="create-edit-btn"><button type = "submit" class="global-button">SUBMIT</button></div>
		</div>
	</form>
</div>

{{> wrapper_footer}}