<!DOCTYPE html>

<html>

	<head>
		<title>AutoWorks</title>
	</head>

	<body>
		<form action = "/submitrequest" method = "POST" enctype="multipart/form-data">
			<input type="text" name="rname"><br><br>
			<input type="text" name="rdesc" size="50" style="height:50px"><br><br>
			<input type="file" name="image"><br><br>
			<button type = "submit">test</button>
		</form>
		<a href = "/logout">Logout</ahref>

	</body>

</html>