{{> wrapper_header}}

<h1 class="title">Create Estimation Request</h1>

<form class="create-edit-req container" action = "/submitreq" method = "POST" enctype="multipart/form-data">
	<input type="text" name="rcar" placeholder="Car Model/manufacturer" required> <br>
	<select name="rtype" required>
		<option value="" selected hidden>Select job type...</option>
		<option value="Paint">Paint</option>
		<option value="Wheels">Wheels</option>
		<option value="Rim">Rim</option>
		<option value="Hood">Hood</option>
		<option value="Engine">Engine</option>
	</select> <br>
	<textarea name="rdesc" cols="60" rows="10" placeholder="Description..."></textarea> <br>
	<input type="file" name="image" required>
	<button type = "submit" class="global-button">SUBMIT</button>
</form>

{{> wrapper_footer}}