<!DOCTYPE html>

<html>

	<head>
		<title>AutoWorks</title>
	</head>

	<body>
		<a href = "/test">test</ahref><br>
		<a href = "/crequests">Create Requests</ahref><br>
		<a href = "/vrequestsu">View Requests</ahref><br>
		<a href = "/logout">Logout</ahref>

	</body>

</html>