{{> wrapper_header}}

<div class="container" id="home-container">
    <img src="IMAGES/AutoWork.png" alt="logo">
    <p>94 ROSE AVE. PILAR VILLAGE, LAS PINAS CITY</p>
    <p>RUDY DECULAWAN - 0917 452 6326</p>
    <p>OPEN EVERYDAY, 7AM - 5PM</p>
    <a href="/createreq" class="global-button">CREATE ESTIMATION REQUEST</a>
</div>


{{> wrapper_footer}}