<!DOCTYPE html>

<html>

	<head>
		<title>AutoWorks</title>
	</head>

	<body>
		<a href = "/crequests">Create Requests</ahref><br><br>
		<a href = "/vrequestsu">View Pending Requests</ahref><br><br>
		<a href = "/varequestsu">View Accepted Requests</ahref><br><br>
		<a href = "/logout">Logout</ahref>

	</body>

</html>