{{> wrapper_header}}

<div class="nav-button-container">
    <a href = "/createreq">Create Estimation Request</ahref>
    <a href = "/uviewallpending">Pending for Confirmation</ahref>
    <a href = "/uviewactive">Ongoing Jobs</ahref>
</div>


{{> wrapper_footer}}