{{> wrapper_header}}

<h1 class="title">Pending for Confirmation</h1>

<div class="container">
	<p class="error-msg">{{error_msg}}</p>
	{{#each req}}
		{{>requestsasuser}}
	{{/each}}
</div>

{{> wrapper_footer}}