<!DOCTYPE html>

<html>

	<head>
		<title>AutoWorks</title>
		<link rel="stylesheet" href="CSS/global.css">
	</head>

	<body>
		{{#each req}}
			{{>requestsasuser}}
		{{/each}}
		<a href = "/logout">Logout</ahref>

	</body>

</html>