{{> wrapper_header page_title='ONGOING JOBS'}}

<div class="container">
	{{#if req}}
	{{#each req}}
		{{>activeasclient}}
	{{/each}}

	{{else}}
	<p class="default-text">No ongoing jobs at the moment.<br>Send a request now!</p>
	<a href="/createreq" class="global-button">CREATE ESTIMATION REQUEST</a>
	{{/if}}
</div>

{{> wrapper_footer}}