{{> wrapper_header page_title='PENDING FOR CONFIRMATION'}}

<div class="container">
	<p class="error-msg">{{error_msg}}</p>

	{{#if req}}
	{{#each req}}
		{{>requestsasuser}}
	{{/each}}

	{{else}}
	<p class="default-text">No requests at the moment.<br>Create one now!</p>
	<a href="/createreq" class="global-button">CREATE ESTIMATION REQUEST</a>
	{{/if}}
</div>

{{> wrapper_footer}}