{{> wrapper_header}}

<div class="container">
	<h1 class="title">Ongoing Jobs</h1>
	
	{{#if req}}
	{{#each req}}
		{{>activeasclient}}
	{{/each}}

	{{else}}
	<p>No ongoing jobs at the moment.</p>
	<p>Send a request now!</p>
	<a href="/createreq" class="global-button">CREATE ESTIMATION REQUEST</a>
	{{/if}}
</div>

{{> wrapper_footer}}